body {
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
p,
ul,
div,
a,
li,
button {
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: left;
}

.container {
  text-align: left;
}

h3 {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}
