body {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
p,
ul,
div,
a,
li {
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: left;
}

h3 {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

hr {
  width: 30%;
  margin: auto;
  color: #000;
}

.container {
  width: 100%;
  margin-top: 50px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgb(4, 56, 4);
  height: 50px;
  color: #fff
}

.luxonDate {
  margin-top: 60px;
  margin-left: auto;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.right ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.right li:hover {
  cursor: pointer;
  font-weight: 700;
}

li {
  margin-left: 50px;
  margin-right: 10px;
}

#List-section {
  width: 100%;
  margin-bottom: 20px;
}

#bookList {
  width: 100%;
  display: flex;
  margin: 20px 0;
  flex-direction: column;
}

.cells {
  width: 97%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.removeButton {
  box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.83);
}

#Add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Add-section h3 {
  margin: 20px 0;
}

#form {
  display: flex;
  flex-direction: column;
}

#addButton {
  margin-left: auto;
  box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.83);
}

#contactPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
}

#contactPage h1{
  margin-bottom: 40px;
}

#contactPage ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(4, 97, 4);
  color: #fff;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
